{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="text-center my-2 py-3">
    <h1>{{ article.title }}</h1>
  </div>
  <div class="text-end">
    <a href="{% url 'accounts:detail' article.user.pk %}" class="text-decoration-none">{{ article.user.username }}</a>
    |
    <span>{{ article.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
  </div>
  <div class="py-3">
    {% if article.image %}
      <div>
        <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
      </div>
    {% endif %}
    <p class="py-2 my-2">{{ article.content }}</p>
    {% if request.user == article.user %}
      <div class="text-end">
        <button class="btn btn-outline-secondary">
          <a href="{% url 'articles:update' article.pk %}" class="text-decoration-none">수정하기</a>
        </button>
        <button class="btn btn-outline-danger">
          <a href="{% url 'articles:delete' article.pk %}" class="text-decoration-none">삭제하기</a>
        </button>
      </div>
    {% endif %}
  </div>
  {% if request.user.is_authenticated %}
    {% if request.user in article.like_users.all %}
      <div class="text-center">
        <button class="btn btn-primary">
          <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>
          <span id="like-count">{{ article.like_users.count }}</span>
        </button>
      </div>
    {% else %}
      <div class="text-center">
        <button class="btn btn-primary">
          <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i>
          <span id="like-count">{{ article.like_users.count }}</span>
        </button>
      </div>
    {% endif %}
  {% endif %}
  <h5 class="my-3">댓글</h5>
  <hr class="border border-primary border-3 opacity-75">
  <div id="comments">
    {% for comment in comments %}
      <p>{{ comment.user.username }}
        |
        {{ comment.content }}
      </p>
      {% if request.user == comment.user %}
        <a href="{% url 'articles:comment_delete' article.pk comment.pk %}">삭제하기</a>
      {% endif %}
      <hr>
    {% endfor %}
  </div>
  {% if request.user.is_authenticated %}
    <div class="py-3">
      <form id="comment-form" data-article-id="{{ article.pk }}">
        {% csrf_token %}
        {% bootstrap_form comment_form layout='floating'%}
        <button type="submit" class="btn btn-primary">댓글 작성</button>
      </form>
    </div>
  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const likeBtn = document.querySelector('#like-btn')
    likeBtn.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      axios({method: 'get', url: `/articles/${event.target.dataset.articleId}/like/`}).then(response => {
        console.log(response)
        console.log(response.data)
        if (response.data.isLiked === true) {
          event
            .target
            .classList
            .add('bi-heart-fill')
          event
            .target
            .classList
            .remove('bi-heart')
        } else {
          event
            .target
            .classList
            .add('bi-heart')
          event
            .target
            .classList
            .remove('bi-heart-fill')
        }
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.likeCount
      })
    })
  </script>
  <script>
    const commentForm = document.querySelector('#comment-form')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value
      commentForm
      .addEventListener('submit', function (event) {
        event.preventDefault();
        axios({
          method: 'post',
          url: `/articles/${event.target.dataset.articleId}/comments/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(commentForm)
        }).then(response => {
          console.log(response.data)
          const comments = document.querySelector('#comments')
          const p = document.createElement('p')
          p.innerText = `${response.data.userName} | ${response.data.content}`
          const hr = document.createElement('hr')
          comments.append(p, hr)
          commentForm.reset()
        })
      })
  </script>
{% endblock %}
